[Unit]
Description=Remove Ubuntu User
ConditionPathExists=/opt/neon/remove_ubuntu_user

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /opt/neon/remove_ubuntu_user.sh

[Install]
WantedBy=multi-user.target