[Unit]
Description=SJ201 Service

[Service]
ExecStart=/bin/bash /opt/neon/configure_audio_on_boot.sh

[Install]
WantedBy=pulseaudio-enable-autospawn.service