[Unit]
Description=Neon Updater

[Service]
Type=oneshot
User=root
ExecStartPre=/usr/bin/systemctl start update-screen
ExecStart=/opt/neon/update

[Install]
WantedBy=multi-user.target