[Unit]
Description=Update screen
Conflicts=gui-shell.service
Conflicts=splashscreen.service

[Service]
ExecStart=/usr/bin/fbi -d /dev/fb0 --noverbose -a /opt/neon/updating.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target