[Unit]
Description=Neon Enclosure
PartOf=neon.service
After=neon.service
After=neon-bus.service
After=neon-gui.service
LogNamespace=neon

[Service]
Type=notify
TimeoutStartSec=300
TimeoutStopSec=30
Restart=always
User=neon
EnvironmentFile=/etc/neon/neon_env.conf
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-enclosure.py

[Install]
WantedBy=neon.service
