[Unit]
Description=Neon Speech
PartOf=neon.service
After=neon.service
After=neon-bus.service

[Service]
Type=notify
TimeoutStopSec=30
Restart=always
User=neon
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-speech.py
#StandardOutput=append:/home/neon/logs/voice.log
#StandardError=inherit
[Install]
WantedBy=neon.service
