[Unit]
Description=Neon Skills
PartOf=neon.service
After=neon.service
After=neon-bus.service
LogNamespace=neon

[Service]
Type=notify
TimeoutStartSec=600
TimeoutStopSec=30
Restart=always
User=neon
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-skills.py
#StandardOutput=append:/home/neon/logs/skills.log
#StandardError=inherit
[Install]
WantedBy=neon.service
