[Unit]
Description=Neon Message Bus
PartOf=neon.service
After=neon.service
After=neon-logs.service

[Service]
Type=notify
TimeoutStopSec=30
Restart=always
User=neon
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-messagebus.py
#StandardOutput=append:/home/neon/logs/bus.log
#StandardError=inherit
[Install]
WantedBy=neon.service
