[Unit]
Description=Neon Admin Enclosure
PartOf=neon.service
After=neon-bus.service

[Service]
Type=notify
TimeoutStopSec=30
Restart=always
User=root
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=XDG_RUNTIME_DIR=/run/user/1000
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-admin-enclosure.py
#StandardOutput=append:/home/neon/logs/admin.log
#StandardError=inherit
[Install]
WantedBy=neon.service
