[Unit]
Description=Neon First boot run script
After=systemd-remount-fs.service
Before=neon.service
ConditionPathExists=/opt/neon/firstboot

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/opt/neon/first_boot.sh

[Install]
WantedBy=multi-user.target
WantedBy=neon.service