[Unit]
Description=Neon Admin Enclosure
PartOf=neon.service
After=neon-bus.service

[Service]
Type=notify
TimeoutStopSec=30
Restart=always
User=root
EnvironmenFile=/etc/neon/neon_env.conf
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-admin-enclosure.py
#StandardOutput=append:/home/neon/logs/admin.log
#StandardError=inherit
[Install]
WantedBy=neon.service
