[Unit]
Description=Neon Skills
PartOf=neon.service
After=neon.service
After=neon-bus.service

[Service]
Type=notify
Restart=always
User=neon
WorkingDirectory=/opt/neon
# Start module when unit is started
ExecStart=/usr/libexec/neon-skills.py
# Stop module when unit is stopped
#ExecStop=/bin/bash /opt/neon/kill_service.sh neon_skills_service
StandardOutput=append:/home/neon/logs/skills.log
StandardError=inherit
[Install]
WantedBy=neon.service
