[Unit]
Description=Neon Enclosure
PartOf=neon.service
After=neon.service
After=neon-bus.service
After=neon-gui.service

[Service]
Type=notify
TimeoutStartSec=300
TimeoutStopSec=60
Restart=always
User=neon
EnvironmentFile=/etc/neon/neon_env.conf
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-enclosure.py
LogNamespace=neon
EnvironmentFile=/etc/neon/neon_env.conf

[Install]
WantedBy=neon.service
