[Unit]
Description=Neon Audio Service
PartOf=neon.service
After=neon.service
After=neon-bus.service

[Service]
Type=notify
TimeoutStopSec=30
Restart=always
User=neon
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-audio.py
#StandardOutput=append:/home/neon/logs/audio.log
#StandardError=inherit
[Install]
WantedBy=neon.service
