[Unit]
Description=Neon GUI Listener
PartOf=neon.service
After=neon.service
After=neon-bus.service
Before=neon-skills.service
Before=neon-enclosure.service

[Service]
Type=notify
TimeoutStartSec=300
TimeoutStopSec=60
Restart=always
User=neon
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-gui.py
LogNamespace=neon
EnvironmentFile=/etc/neon/neon_env.conf

[Install]
WantedBy=neon.service
