[Unit]
Description=Neon Message Bus
PartOf=neon.service
After=neon.service
After=neon-logs.service

[Service]
Type=notify
TimeoutStartSec=300
TimeoutStopSec=60
Restart=always
User=neon
WorkingDirectory=/opt/neon
ExecStart=/usr/libexec/neon-messagebus.py
LogNamespace=neon

[Install]
WantedBy=neon.service
