[Unit]
Description=Neon A.I. Software stack.
After=pulseaudio.service
After=gui-shell.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
LogNamespace=neon

[Install]
WantedBy=default.target
