[Unit]
Description=Neon Audio Service
PartOf=neon.service
After=neon.service
After=neon_bus.service

[Service]
Restart=always
User=neon
WorkingDirectory=/opt/neon
# Start module when unit is started
ExecStart=/bin/bash /opt/neon/launch_service.sh neon_audio_client
# Stop module when unit is stopped
ExecStop=/bin/bash /opt/neon/kill_service.sh neon_audio_client
StandardOutput=file:/home/neon/logs/audio.log
StandardError=file:/home/neon/logs/audio.error.log
[Install]
WantedBy=neon.service
