[Unit]
Description=Neon GUI Listener
PartOf=neon.service
After=neon.service
After=neon_bus.service

[Service]
Restart=always
User=neon
WorkingDirectory=/opt/neon
# Start module when unit is started
ExecStart=/bin/bash /opt/neon/launch_service.sh neon_gui_service
# Stop module when unit is stopped
ExecStop=/bin/bash /opt/neon/kill_service.sh neon_gui_service
StandardOutput=file:/home/neon/logs/gui.log
StandardError=file:/home/neon/logs/gui.error.log
[Install]
WantedBy=neon.service
