[Unit]
Description=Neon GUI Listener
PartOf=neon.service
After=neon.service
After=neon-bus.service
Before=neon-skills.service
Before=neon-enclosure.service

[Service]
Restart=always
User=neon
WorkingDirectory=/opt/neon
# Start module when unit is started
ExecStart=/bin/bash /opt/neon/launch_service.sh neon_gui_service
# Stop module when unit is stopped
ExecStop=/bin/bash /opt/neon/kill_service.sh neon_gui_service
StandardOutput=append:/home/neon/logs/gui.log
StandardError=inherit

[Install]
WantedBy=neon.service
