[Unit]
Description=SJ201 Service

[Service]
ExecStart=/bin/bash /opt/neon/configure_sj201_on_boot.sh

[Install]
WantedBy=multi-user.target
WantedBy=pulseaudio.service