[Unit]
Description=Neon Skills
PartOf=neon.service
After=neon.service
After=neon_bus.service

[Service]
Restart=always
User=pi
WorkingDirectory=/opt/neon
# Shutdown container (if running) when unit is started
ExecStartPre=/bin/bash /opt/neon/stop_skills.sh
# Start container when unit is started
ExecStart=/bin/bash /opt/neon/start_skills.sh
# Stop container when unit is stopped
ExecStop=/bin/bash /opt/neon/stop_skills.sh
StandardOutput=file:/var/log/neon/skills.log
StandardError=file:/var/log/neon/skills.error.log
[Install]
WantedBy=neon.service
