[Unit]
Description=PulseAudio Sound System
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/pulseaudio --system --daemonize=no --realtime --disallow-exit --no-cpu-limit --disallow-module-loading
Restart=always

[Install]
WantedBy=multi-user.target
