[Unit]
Description=Neon GUI

[Service]
User=neon
WorkingDirectory=/opt/neon
Environment=QT_IM_MODULE=qtvirtualkeyboard
Environment=QT_QPA_PLATFORM=eglfs
Environment=QT_QPA_EGLFS_KMS_ATOMIC=1
Environment=QT_QPA_PLATFORMTHEME=qt5ct
Environment=QT_PLUGIN_PATH=/usr/lib/aarch64-linux-gnu/qt5/plugins:/usr/lib/aarch64-linux-gnu/qt5/plugins/kf5
Environment=QT_QUICK_CONTROLS_CONF=/home/neon/.config/qtquickcontrols2material.conf
Environment=QT_LOGGING_RULES='qt.qpa.ads=false,qt.plugins.debug=true'
Environment=QT_FILE_SELECTORS=ovos
Environment=QT_FONT_DPI=120
Environment=QT_QUICK_CONTROLS_STYLE=OpenVoiceStyle
Environment=XDG_RUNTIME_DIR=/tmp/neon
Environment=XDG_DATA_DIRS=/usr/share:/usr/local/share:$XDG_DATA_DIRS
Environment=XDG_CURRENT_DESKTOP=kde
Environment=LD_LIBRARY_PATH=/usr/lib
Environment=LIBEXEC_PATH=/libexec:/usr/libexec:/usr/lib/libexec
Environment=QML2_IMPORT_PATH=/usr/lib/aarch64-linux-gnu/qt5/qml
ExecStartPre=-/usr/bin/kbuildsycoca5
ExecStart=ovos-shell
Restart=on-failure

[Install]
WantedBy=multi-user.target
