[Unit]
Description=NeonAI service

[Service]
Restart=always
User=pi
Group=docker
WorkingDirectory=/opt/neon
# Shutdown container (if running) when unit is started
ExecStartPre=/bin/bash /opt/neon/stop_neon.sh
# Start container when unit is started
ExecStart=/bin/bash /opt/neon/start_neon.sh
# Stop container when unit is stopped
ExecStop=/bin/bash /opt/neon/stop_neon.sh

[Install]
WantedBy=multi-user.target
